@model IEnumerable<Inmobiliaria.Models.Propietario>

<h2>Propietarios</h2>
<a class="btn btn-primary" asp-action="Create">Nuevo Propietario</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Contacto</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    @foreach (Propietario p in Model)
    {
        <tr>
            <td>@p.DNI</td>
            <td>@p.Nombre</td>
            <td>@p.Apellido</td>
            <td>@p.Contacto</td>
            <td>
                <a asp-action="Details" asp-route-id="@p.Id" class="btn btn-info btn-sm">Detalles</a>
                <a asp-action="Edit" asp-route-id="@p.Id" class="btn btn-warning btn-sm">Editar</a>
               
            </td>
        </tr>
    }
    </tbody>
</table>
